// Mailchimp styles
#mc_embed_signup {
	background: #fff;
	clear: left;
	font: 14px Helvetica, Arial, sans-serif;
	width: 100%;
}

#mc-embedded-subscribe-form input[type=checkbox] {
	display: inline;
	width: auto;
	margin-right: 10px;
}

#mergeRow-gdpr {
	margin-top: 20px;
}

#mergeRow-gdpr fieldset label {
	font-weight: normal;
}

#mc-embedded-subscribe-form .mc_fieldset {
	border: none;
	min-height: 0px;
	padding-bottom: 0px;
}

footer #mc_embed_signup {
	background: none;
	border: none;
}

footer #mc_embed_signup input[type="email"] {
	background: #ffffff;
	border: solid 1px #eeeeee;
	color: #323232;
	height: 38px;
}

footer #mc_embed_signup input[type="submit"] {
	background: #00659b;
	color: #ffffff;
	font-weight: 300;
	height: 38px;
}