
.preview {
	height: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 20px 120px 20px;
	position: relative;
}

.preview.single {

}

.preview img {
	margin: 0px 0px 0px 0px;
}

.preview h4,
.preview h5 {
	margin: 1.2rem 0px 1rem 0px;
}

.preview h4 a,
.preview h5 a {
	text-decoration: none;
}

.preview a.button {
	display: inline-block;
	padding: 10px 15px 10px 15px;
	background: #00659b;
	border-radius: 5px;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.2s ease;
	position: absolute;
	bottom: 80px;
}

.preview a.button:hover {
	background: #1d2735;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 568px) {
	.preview {
		padding: 0px 0px 120px 0px;
	}


}