.related-posts {
    padding: 0px 0px 30px 0px;
}

.related-posts > div {
    padding: 70px 0px 0px 0px;
    border-top: solid 1px #dddddd;
}

.related-posts .head h3 {
    margin: 0px 20px 1.6rem 20px;
}

@media screen and (max-width: 568px) {
    .related-posts > div {
        padding: 70px 20px 0px 20px;
    }
}